#sprintPanel{
  margin:10px;
}
.sprintPanelDrv-animation.ng-hide-remove{
  -webkit-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  opacity: 0;
}
.sprintPanelDrv-animation.ng-hide-remove.ng-hide-remove-active{
  opacity:1;
}
.sprintPanelDrv-animation.ng-hide-add{
  background-color: transparent;
  border: 0 solid transparent;  
  -webkit-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
}
.sprintPanelDrv-animation.ng-hide-add.ng-hide-add-active{
  opacity:0;
}
